.product {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 30px;
}

@media (max-width: 800px) {
  .product {
    grid-template-columns: 1fr;
  }
}

.product-gallery {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 20px;
}
@media (max-width: 800px) {
  .product-gallery {
    grid-template-columns: 1 1fr;
  }
  .product-gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

.product-gallery-list img {
  margin-bottom: 20px;
  border: 3px solid black;
}

.product-detail small {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-detail h1 {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .product {
    grid-template-columns: 1fr;
  }
}
.product-detail h2 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 1.5rem;
}
.product-detail .product-price {
  margin-bottom: 20px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .product-detail h1 {
    margin-bottom: 20px;
  }
}

.product-detail .button {
  background: black;
  color: white;
  padding: 12px 15px;
  min-width: 200px;
  font-size: 1rem;
  border: none;
  margin-top: 20px;
  margin-bottom: 40px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-detail .button::after {
  content: "";
  display: block;
  background: url("../img/icons/add.svg");
  width: 16px;
  height: 16px;
  transition: 0.3s;
}
.product-detail .button:hover::after {
  transform: rotate(180deg);
}

.product-detail .button.disabled {
  opacity: 0.5;
  cursor: initial;
}

.product-detail .variations tr {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.product-detail select {
  font-size: 1rem;
  background: black;
  color: white;
  border: none;
}

.product-detail .reset_variations {
  display: none !important;
}
.product-detail .quantity {
  display: none !important;
}
.product-detail .stock {
  display: none !important;
}

.notificacao {
  margin: 20px auto;
}
